.background-image {
    background-image: url('../dmnotebook/images/map 4.jpg'); /* Corrected relative path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
